<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Activida 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css "
            integrity="sha384- MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="p-5 mb-3 bg-primary text-white text-center">
        <h1>Ingrese dos números y la operación</h1>
    </div>
    <div class="p-5">
        <input type="number" name="" id="" v-model="a">
        <select name="" id="" v-model="opt">
            <option value="+">Sumar</option>
            <option value="-">Restar</option>
            <option value="*">Multiplicar</option>
            <option value="/">Dividir</option>
        </select>
        <input type="number" name="" id="" v-model="b">
        <input type="button" value="Calcular" @click="getResult">
        <input type="number" name="" id="" v-model="result">
        <input type="button" value="Vacío" @click="clearData">
   
        <pre>{{ $data | json }}</pre>
</div> 
</div>
<script src="calculo.js"></script>    
</body>
</html>